<!-- Here goes big "what is cs50?"-->
<section class="text-center text-light mt-5">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="display-1">What is <span style="color:var(--c-primary);">CS50</span>?</h1>
                <blockquote class="blockquote">
                    <p> An introduction to the intellectual enterprises of <b style="color:var(--c-primary);">computer
                            science and the art of programming.</b>
                    </p>
                </blockquote>
            </div>
            <!-- Here goes a video (cs50 trailer) -->
            <div class="ratio ratio-16x9">
                <iframe class="rounded-3 border-primary" src="https://www.youtube.com/embed/NZxALvNlF-8"
                    title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>

        <div class="rounded-3 bg-dots border-primary bg-color-secondary mt-5 p-5">

            <!-- Here goes description about CS50 -->
            <p class="lead">
                An entry-level course taught by <b>David J. Malan</b>, CS50x teaches students <b>how to think
                    algorithmically and solve problems efficiently.</b>
            </p>

            <p class="lead">
                Topics include <b>abstraction, algorithms, data structures,
                    encapsulation, resource management, security, software engineering, and web development</b>.
            </p>

            <p class="lead"> Languages
                include <b>C, Python, SQL, and JavaScript plus CSS and HTML</b>.
            </p>

            <p class="lead">Problem sets inspired by real-world
                domains of
                biology, cryptography, finance, forensics, and gaming.
            </p>

            <p class="lead">
                Students who earn a satisfactory score on <b>9 problem sets (i.e., programming assignments) and a final
                    project are eligible for a certificate</b>.
            </p>

            <p class="lead">
                <em>This is a self-paced course–you may take CS50x on your
                    own
                    schedule.</em>
            </p>


        </div>
    </div>
</section>

<!-- Here goes a bunch of languages that you'll learn-->
<h1 class="display-1 mt-5 text-center">What will you learn?</h1>

<main class="d-flex flex-column bg-dots bg-color-secondary rounded-3 mt-5 p-5">

    <div class="row gy-3 row-cols-1 row-cols-sm-2 row-cols-lg-4">

        <div class="col-sm">

            <div class="card bg-transparent">

                <img src="./img/programming.svg" class="card-img-top" alt="An illustration of a person coding.">

                <div class="card-body">
                    <h5 class="card-title">Problem solving with C</h5>

                    <p class="card-text">Dive into the C programming language, a low-level language that will show you
                        how everything functions behind the curtains. Over the course of 5 lectures and a variety of
                        different sets
                        of problems and tasks, you will develop a solid programming foundation that will include
                        algorithms, data structures and memory management.
                    </p>
                </div>

            </div>

        </div>

        <div class="col-sm">

            <div class="card bg-transparent">
                <img src="./img/python.svg" class="card-img-top" alt="Python's logo">
                <div class="card-body">
                    <h5 class="card-title">Python</h5>
                    <p class="card-text">Then we'll switch to Python: a high-level programming language designed for
                        every purpose.

                        While working on very interesting problem sets, you will add Python to your toolkit to solve
                        many different problems.

                        You will learn how to work with data, file system and use Python to develop
                        applications, automate processes, and even build your own websites and APIs.
                    </p>
                </div>
            </div>

        </div>

        <div class="col-sm">

            <div class="card bg-transparent">
                <img src="./img/data.svg" class="card-img-top" alt="An illustration of data input.">
                <div class="card-body">
                    <h5 class="card-title">SQL</h5>
                    <p class="card-text">SQL (Structure Query Language) is an in-demand skill.
                        Knowledge of SQL is a valuable skill in many industries. Developers, Business Analysts, and
                        Product Managers are just a few of the many professions that rely on SQL for data retrieval.

                        In this course you'll learn how to use it to manage data easier and to use it in client-server
                        operations.
                    </p>
                </div>
            </div>

        </div>

        <div class="col-sm">

            <div class="card bg-transparent">

                <img src="./img/static_assets.svg" class="card-img-top" alt="An illustration about web development.">

                <div class="card-body">

                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">
                        Last but not least, we will work on web development by learning languages,
                        HTML, CSS and JavaScript to develop web applications. Those three languages are the building
                        blocks of the Internet as we know it. We will also learn how to leverage our newly acquired
                        tool, Python, in the development of server-side applications.</p>
                </div>

            </div>
        </div>

    </div>

    <section class="text-center bg-transparent mt-xs-0 mt-sm-5 mb-5 p-5">
        <div>
            <h1 class="display-1">Ready to <a target="_blank" href="https://cs50.harvard.edu/x/2022/">get
                    started</a>? 🚀</h1>
        </div>
    </section>
</main>