<footer class="bg-dark text-center text-light text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Made by <span style="color:var(--c-primary);">Juan José Morales</span> for <span
            style="color:var(--c-primary);">CS50x</span> 💖
        </h5>
        <!-- Section: Social media -->
        <section class="mb-4">
          <p>Check out <span style="color:var(--c-primary);">CS50x's social media:</span></p>

          <!-- Discord -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1 primary-hover" target="__blank"
            href="https://discord.com/invite/cs50" role="button"><i class="bi-discord"></i></a>

          <!-- Twitter -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1 primary-hover" target="__blank"
            href="https://twitter.com/cs50" role="button"><i class="bi-twitter"></i></a>

          <!-- Instagram -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1 primary-hover"
            href="https://www.instagram.com/cs50/" role="button"><i class="bi-instagram"></i></a>

          <!-- Slack -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1 primary-hover" target="__blank"
            href="https://cs50x.slack.com/join/shared_invite/zt-11a639lkl-CZOMgfKrG6jqT879uMfSCA#/shared-invite/email"
            role="button"><i class="bi-slack"></i></a>

          <!-- Reddit -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1 primary-hover" target="__blank"
            href="https://www.reddit.com/r/cs50/" role="button"><i class="bi-reddit"></i></a>

          <!-- Linkedin -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1 primary-hover" target="__blank"
            href="https://www.linkedin.com/school/cs50/" role="button"><i class="bi-linkedin"></i></a>

          <!-- Github -->
          <a class="btn btn-link btn-floating btn-lg text-light m-1 primary-hover" target="__blank"
            href="https://github.com/cs50" role="button"><i class="bi-github"></i></a>
        </section>
        <!-- Section: Social media -->
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <a href="https://undraw.co/" target="__blank">
            <img class="img-fluid w-75" src="img/cat.svg" alt="There's another cat here   !">
          </a>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      Licenses and Legal Stuff:
      <a href="https://cs50.harvard.edu/x/2022/license/" target="__blank"><span
          style="color:var(--c-primary);">CS50x,</span></a>
      <a href="https://undraw.co/license" target="__blank"><span style="color:var(--c-primary);">Undraw.co</span></a>
    </div>
    <!-- /Copyright -->
</footer>