<h1 class="display-1 mt-5 text-center">Face a new challenge every week!</h1>

<main class="carrousel bg-dots bg-color-secondary mt-5">
    <article data-index="0" data-status="active">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="article-description-section article-section">
            <p>
                Lorem ipsum dolor sit amet, <a class="description-link" href="google.com">consectetur adipisicing
                    elit</a>. Aperiam, itaque
                voluptatibus!
                Doloribus accusantium nulla alias culpa maxime cum rem deleniti!

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur voluptatem provident perferendis
                nobis odio quae pariatur magnam? Eveniet voluptatibus rem repellendus, provident maxime sint incidunt
                atque delectus accusamus perspiciatis aspernatur.
            </p>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 1
            </h2>
            <i class="bi-code-square"></i>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>
    <article data-index="1" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="article-description-section article-section">
            <p>
                Lorem ipsum dolor sit amet, <a class="description-link" href="google.com">consectetur adipisicing
                    elit</a>. Aperiam, itaque
                voluptatibus!
                Doloribus accusantium nulla alias culpa maxime cum rem deleniti!
            </p>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Lorem ipsum dolor sit.
            </h2>
            <i class="bi-code-square"></i>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>
    <article data-index="2" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="article-description-section article-section">
            <p>
                Lorem ipsum dolor sit amet, <a class="description-link" href="google.com">consectetur adipisicing
                    elit</a>. Aperiam, itaque
                voluptatibus!
                Doloribus accusantium nulla alias culpa maxime cum rem deleniti!
            </p>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Lorem ipsum dolor sit.
            </h2>
            <i class="bi-code-square"></i>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>
    <article data-index="3" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="article-description-section article-section">
            <p>
                Lorem ipsum dolor sit amet, <a class="description-link" href="google.com">consectetur adipisicing
                    elit</a>. Aperiam, itaque
                voluptatibus!
                Doloribus accusantium nulla alias culpa maxime cum rem deleniti!
            </p>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Lorem ipsum dolor sit.
            </h2>
            <i class="bi-code-square"></i>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>
</main>

<section class="text-center bg-transparent mt-xs-0 mt-sm-5 mb-5 p-5">
    <div>
        <h1 class="display-1">Ready to <a target="_blank" href="https://cs50.harvard.edu/x/2022/">get
                started</a>? 🚀</h1>
    </div>
</section>