<h1 class="display-1 mt-5 text-center">A new challenge every week!</h1>

<main class="carrousel bg-dots bg-color-secondary mt-5">
    <article data-index="0" data-status="active">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    Professor David introduce us to the world of <b>Scratch</b>, a block-based visual programming
                    language
                    and
                    website targeted primarily at children.
                </p>
                <p> We will learn how to write some basic programs with Scratch
                    such as Hello World and even performing some basic calculations.
                </p>
                <p>Learn about <b>functions, conditions, boolean expressions and more!</b>
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 0: Scratch
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="1" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    This is week 1, the one in which you learn a new language. We transition to something more
                    traditional and text-based known as <b>C</b>.

                <p>
                    This is an older language. It's been around for decades. But it's a language that underlies so
                    <b>many
                        of today's more modern languages.</b>
                </p>
                <p>
                    In this week, you'll learn: <b>data types, operators, conditional statements, loops, the command
                        Line
                        and more!</b>
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 1: C
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="2" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    As we become familiar with C, we continue working on excercises and learning more fundamentals
                    of programming.
                </p>
                <p>On this week: <b>functions, variables and scope, arrays, command line arguments.</b>
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 2: Arrays
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="3" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>An algorithm is simply a set of steps used to complete a specific task. They're the building blocks
                    for programming as they allow computers, smartphones, and websites to function and
                    make decisions.
                </p>
                <p>Lots of things we do on a daily basis are similar to
                    algorithms. Let's say you want to make some spaghetti: there's a
                    certain set of steps you need to follow in a particular order. 🍝
                </p>
                <p> On this week: <b>Big (O) notation, searching and sorting algorithms, recursion, and more!</b> 🖥️
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 3: Algorithms
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="4" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    In week 4, David Malan goes a bit deeper into memory management, introducing us to memory addresses,
                    pointers, and memory allocation, among other low-level and interesting things.
                </p>
                <p>Learn about <b>Hexadecimal, Pointers, Custom Types, Dynamic Memory Allocation, Call Stacks, File
                        Pointers</b>
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 4: Memory
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="5" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    A <b>data structure</b> is a storage that is used to store and organize data. <b>It is a way of
                        arranging data
                        on a computer so that it can be accessed and updated efficiently.</b>
                </p>

                <p>A data structure is not only used for organizing the data. It is also used for <b>processing,
                        retrieving, and storing data.</b> There are different basic and advanced types of data
                    structures that are used in almost every program or software system that has been developed. .</p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 5: Data Structures
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="6" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    <b>Python</b>, one of the most popular programming languages in the world, has created everything
                    from
                    Netflix’s recommendation algorithm to the software that controls self-driving cars. Python is a
                    general-purpose language, which means it’s designed to be used in a range of applications, including
                    <b>data science, software and web development, automation, and generally getting stuff done.</b> 🐍
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 6: Python
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="7" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    <b>Structured Query Language (SQL)</b> is a standardized programming language that is used to manage
                    relational databases and perform various operations on the data in them. Initially created in the
                    1970s, SQL is regularly used not only by database administrators, but also by developers writing
                    data integration scripts and data analysts looking to set up and run analytical queries.
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 7: SQL
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="8" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    The three main languages used to build websites are <b>HTML, CSS, and JavaScript.</b>
                </p>
                <p>JavaScript is the programming language, we use HTML to structure the site, and we use CSS to design
                    and layout the web page.</p>

                <p>In this week, we will learn more about how the website and the internet works!</p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 8: HTML, CSS, JavaScript
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="9" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    In this week, we will continue developing websites.</p>
                <p>
                    But this time, we will leverage the power of <b>Python and a tool called Flask</b> to make websites
                    that
                    are faster, easier to write, and more secure!
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 9: Flask
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>

    <article data-index="10" data-status="inactive">
        <div class="article-image-section article-section">
            <div class="article-img-container">
            </div>
        </div>
        <div class="d-flex text-center justify-content-center article-description-section article-section">
            <div class="description-container align-middle rounded-3 p-4">
                <p>
                    I don't know what this week is about so... Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Fuga placeat impedit quia inventore quod doloremque ut deleniti enim voluptatum similique, qui
                    magnam saepe dolorum tempore suscipit exercitationem reprehenderit magni perspiciatis?
                </p>
            </div>
        </div>
        <div class="article-title-section article-section">
            <h2>
                Week 10: Emoji
            </h2>
            <a target="_blank" href="https://www.youtube.com/watch?v=IDDmrzzB14M">
                <i class="bi-play-btn-fill"></i>
            </a>
        </div>
        <div class="article-nav-section article-section">
            <button class="article-nav-button" type="button" onclick="handleLeftClick()">
                <i class="bi-arrow-left"></i>
            </button>
            <button class="article-nav-button" type="button" onclick="handleRightClick()">
                <i class="bi-arrow-right"></i>
            </button>
        </div>
    </article>
</main>

<section class="text-center bg-transparent mt-xs-0 mt-sm-5 mb-5 p-5">
    <div>
        <h1 class="display-1">Ready to <a target="_blank" href="https://cs50.harvard.edu/x/2022/">get
                started</a>? 🚀</h1>
    </div>
</section>