<section class="bg-dark text-light p-5 text-center bg-dots bg-color-secondary">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Homepage</h1>
                <h2><a href="https://cs50.harvard.edu/x/2022/"><span style="color:var(--c-primary);">This is
                            CS50:</span></a> Problem Set 8</h2>
            </div>
            <img class="img-fluid w-75" src="img/cat_welcome.svg" alt="Cute cats welcome you!">
        </div>
    </div>
</section>